// SCSS File
// modal.scss

// modal style
.modal-close {
  position: absolute;
  top: -#{$spacer-20};
  right: $spacer-20;
  @include size($spacer-40);
  line-height: $spacer-40;
  text-align: center;
  background-color: $white;
  font-size: $font-size-32;
  color: #717171;
  box-shadow: 0 0 $p8 0 rgba(0, 0, 0, 0.4);
}

.modal-body {
  padding: $spacer-40;
}
