// SCSS File
// product.scss

// product style
.product {
  display: flex;
  flex-direction: column;
}

.product-offer {
  border: $p2 dashed $border-color;
  padding: $spacer-24 #{$spacer-64 * 2};
  display: flex;
  flex-wrap: wrap;

  .btn {
    border-width: $p2;
    flex: 1 1 100%;
    min-width: 100%;
  }
}

.offer-image {
  flex: 0 0 #{$p14 * 10};

  img {
    width: 100%;
    height: auto;
  }
}

.offer-details {
  flex: 1 1 calc(100% - #{$p14 * 10});
  padding: $spacer-16;
  text-align: center;

  del {
    margin-right: $p8;
    font-size: 80%;
  }
}

.product-list {
  padding-top: $spacer-64;
}

.product-item {
  display: flex;
  padding-bottom: $spacer-32;
  padding-top: $spacer-32;
  border-bottom: $p1 solid $border-color;

  &:first-child {
    padding-top: 0;
  }
}

.item-image {
  border-radius: $p8;
  position: relative;
  flex: 0 0 #{$spacer-16 * 10};

  img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 $p12 0 rgba(0, 0, 0, 0.3);
    border-radius: $p8;
  }
}

.item-count {
  $size: $spacer-24;

  position: absolute;
  border-radius: 50%;
  line-height: $size;
  height: $size;
  width: $size;
  top: -#{$size / 2};
  right: -#{$size / 2};
  text-align: center;
  font-size: $font-size-12;
  color: $white;
  background-color: $black;
}

.item-details {
  padding-left: $spacer-24;
  padding-right: $spacer-24;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  strong,
  span {
    display: block;
  }
}

.item-price {
  flex: 0 0 auto;
  text-align: center;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;

  del {
    display: block;
    font-size: 70%;
  }
}

.product-voucher {
  padding-top: $spacer-40;
  padding-bottom: $spacer-40;

  .form-control {
    border-width: 0;
    background-color: #f6f6f6;
    font-size: $font-size-20;

    &:focus {
      background-color: #f6f6f6;
      color: #182940;
    }
  }
}

.product-total {
  padding-top: $spacer-30;
  padding-bottom: $spacer-30;
  border-top: $p1 solid $border-color;
}

.product-total-list {
  display: flex;
  justify-content: center;
  padding-bottom: $p10;
  padding-top: $p10;

  &:nth-last-child(2) {
    padding-bottom: $spacer-40;
  }
}

.product-total-label {
  flex: 1 1 100%;
  display: flex;
}

.product-total-value {
  flex: 0 0 auto;
}

.product-total-sum {
  display: flex;
  justify-content: center;
  border-top: $p1 solid $border-color;
  padding-top: $spacer-30;
  font-size: $font-size-24;

  .product-total-label,
  .product-total-value {
    font-family: $font-custom-font-bo;
  }

  small {
    font-family: $font-custom-font-rg;
  }
}
