// SCSS File
// section-hero.scss

// section-hero style
.section-hero {
  .heading {
    font-size: $font-size-48;
    line-height: 1;
    width: 50%;
  }

  .lead {
    font-size: $font-size-32;
  }
}
