// SCSS File
// layout-transition.scss


// layout-transition style
.layout-transition {
	position: fixed;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;

	@if $enable-single-class-animate == false {
		@extend %extend-animate-all;
	}

	@extend %extend-aria-hide;

	@extend %extend-aria-show;
}
