// SCSS File
// btn.scss

// btn variables
$btn-padding-y: ($input-padding-y - $p1) !default;
$btn-padding-x: $spacer-38 !default;
$btn-font-family: null !default;
$btn-font-size: $input-font-size !default;
$btn-line-height: $input-line-height !default;
$btn-border-radius: 0 !default;

$btn-padding-y-sm: $input-padding-y-sm !default;
$btn-padding-x-sm: $input-padding-x-sm !default;
$btn-font-size-sm: $input-font-size-sm !default;
$btn-line-height-sm: $input-line-height-sm !default;
$btn-border-radius-sm: $btn-border-radius !default;

$btn-padding-y-lg: $input-padding-y-lg !default;
$btn-padding-x-lg: $input-padding-x-lg !default;
$btn-font-size-lg: $input-font-size-lg !default;
$btn-line-height-lg: $input-line-height-lg !default;
$btn-border-radius-lg: $btn-border-radius !default;

$btn-font-weight: $font-weight-4 !default;
$btn-border-width: $p1 !default;
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$btn-box-shadow: inset 0 $p1 0 rgba($build-white, 0.15),
  0 $p1 $p1 rgba($build-black, 0.075) !default;

$btn-disabled-opacity: $build-default-opacity !default;
$btn-block-spacing-y: $p8 !default;
$btn-link-disabled-color: $mono-005 !default;
$btn-active-box-shadow: $build-input-inset-shadow !default;
$btn-focus-box-shadow: $build-input-shadow !default;
$btn-focus-width: $p4 !default;
