// SCSS File
// display.scss


// display variables
$display1-size:										$spacer-96 !default;
$display2-size:										$spacer-88 !default;
$display3-size:										$spacer-72 !default;
$display4-size:										$spacer-56 !default;
$display1-weight:									$font-weight-3 !default;
$display2-weight:									$font-weight-3 !default;
$display3-weight:									$font-weight-3 !default;
$display4-weight:									$font-weight-3 !default;
$display-line-height:								$headings-line-height !default;
