// SCSS File
// icon.scss


// icon variables
$list-tick-icon:									'\eA1F' !default;
$nav-action-icon:									'\eA07' !default;
$toggle-input-icon:									'\eA0D' !default;
$datepicker-next-icon:								'\eA07' !default;
$datepicker-prev-icon:								'\eA06' !default;
