// SCSS File
// line-height.scss


// line-height variables
$line-height-sm:									1.0 !default;
$line-height-md:									1.5 !default;
$line-height-lg:									1.8 !default;

// line-height
$line-height-base:									$line-height-md;
