// SCSS File
// round.scss


// round variables
$round-s:											$p2 !default;
$round-m:											$p3 !default;
$round-l:											$p6 !default;

// border-radius
$border-radius:										$round-s;
