// SCSS File
// wizard-core.scss


// wizard-type variables
$wizard-heading-font-size:							$h1-font-size !default;
$wizard-heading-font-weight:						$headings-font-weight !default;
$wizard-heading-line-height:						$line-height-sm !default;
$wizard-heading-mar-y:								$spacer-32 !default;
$wizard-lead-font-size:								$lead-font-size !default;
$wizard-lead-font-weight:							$lead-font-weight !default;
$wizard-lead-line-height:							$line-height-md !default;
