// SCSS File
// icons.scss

// icons extends
%extend-icon-call {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
%extend-icon-pseudo {
  width: inherit;
  height: inherit;
  font-size: inherit;
  line-height: inherit;
  text-indent: 0;
  font-weight: normal !important;
  font-style: normal !important;
  white-space: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  speak: none;
}
%extend-icon-layer {
  z-index: 0;
}
%extend-icon-16 {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
%extend-icon-20 {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
%extend-icon-24 {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}
%extend-icon-32 {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
%extend-icon-48 {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
%extend-icon-56 {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3.5rem;
}
%extend-icon-64 {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
}
%extend-icon-72 {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 4.5rem;
}
%extend-icon-80 {
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
}
%extend-icon-96 {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
}
@if $enable-default-glyphs {
  // icons style
  [class^="i-"],
  [class*=" i-"] {
    @extend %extend-icon-call;
  }
  [class^="i-"]::before,
  [class*=" i-"]::before,
  [class^="i-"]::after,
  [class*=" i-"]::after {
    @extend %extend-icon-pseudo;
  }
  [class^="i-"]::after,
  [class*=" i-"]::after {
    @extend %extend-icon-layer;
  }

  // icons font-family
  [class^="i-"]::before,
  [class*=" i-"]::before,
  [class^="i-"]::after,
  [class*=" i-"]::after {
    font-family: $font-family-glyphs;
  }

  // icona size style
  .i-16 {
    @extend %extend-icon-16;
  }
  .i-20 {
    @extend %extend-icon-20;
  }
  .i-24 {
    @extend %extend-icon-24;
  }
  .i-32 {
    @extend %extend-icon-32;
  }
  .i-48 {
    @extend %extend-icon-48;
  }
  .i-56 {
    @extend %extend-icon-56;
  }
  .i-64 {
    @extend %extend-icon-64;
  }
  .i-72 {
    @extend %extend-icon-72;
  }
  .i-80 {
    @extend %extend-icon-80;
  }
  .i-96 {
    @extend %extend-icon-96;
  }

  // icons glyphs style
  .i-action-survey-excellent::before {
    content: "\eA55";
  }
  .i-action-survey-good::before {
    content: "\eA56";
  }
  .i-action-survey-great::before {
    content: "\eA57";
  }
  .i-action-survey-okay::before {
    content: "\eA58";
  }
  .i-action-survey-sad::before {
    content: "\eA59";
  }
  .i-alert-error::before {
    content: "\eA13";
  }
  .i-alert-error-outline::before {
    content: "\eA11";
  }
  .i-alert-error-solid::before {
    content: "\eA12";
  }
  .i-alert-help-outline::before {
    content: "\eA14";
  }
  .i-alert-info::before {
    content: "\eA17";
  }
  .i-alert-info-outline::before {
    content: "\eA15";
  }
  .i-alert-info-solid::before {
    content: "\eA16";
  }
  .i-alert-success::before {
    content: "\eA1A";
  }
  .i-alert-success-outline::before {
    content: "\eA18";
  }
  .i-alert-success-solid::before {
    content: "\eA19";
  }
  .i-alert-warning::before {
    content: "\eA1D";
  }
  .i-alert-warning-outline::before {
    content: "\eA1B";
  }
  .i-alert-warning-solid::before {
    content: "\eA1C";
  }
  .i-arrow-down::before {
    content: "\eA01";
  }
  .i-arrow-left::before {
    content: "\eA02";
  }
  .i-arrow-right::before {
    content: "\eA03";
  }
  .i-arrow-up::before {
    content: "\eA04";
  }
  .i-badge::before {
    content: "\eA1E";
  }
  .i-display-address-picker::before {
    content: "\eA36";
  }
  .i-display-application::before {
    content: "\eA37";
  }
  .i-display-calendar::before {
    content: "\eA38";
  }
  .i-display-camera::before {
    content: "\eA39";
  }
  .i-display-contact-card::before {
    content: "\eA3A";
  }
  .i-display-coupon::before {
    content: "\eA3B";
  }
  .i-display-credit-card::before {
    content: "\eA3C";
  }
  .i-display-document-check::before {
    content: "\eA3D";
  }
  .i-display-documents::before {
    content: "\eA3E";
  }
  .i-display-edit::before {
    content: "\eA3F";
  }
  .i-display-eligibility-score::before {
    content: "\eA40";
  }
  .i-display-email::before {
    content: "\eA26";
  }
  .i-display-file-image::before {
    content: "\eA41";
  }
  .i-display-file-pdf::before {
    content: "\eA42";
  }
  .i-display-file-word::before {
    content: "\eA43";
  }
  .i-display-help::before {
    content: "\eA29";
  }
  .i-display-help-email::before {
    content: "\eA27";
  }
  .i-display-help-sms::before {
    content: "\eA28";
  }
  .i-display-inbox::before {
    content: "\eA44";
  }
  .i-display-invitation::before {
    content: "\eA45";
  }
  .i-display-lock::before {
    content: "\eA2A";
  }
  .i-display-mail::before {
    content: "\eA2B";
  }
  .i-display-mobile::before {
    content: "\eA2C";
  }
  .i-display-phone-number::before {
    content: "\eA2D";
  }
  .i-display-phone-retro::before {
    content: "\eA46";
  }
  .i-display-photo::before {
    content: "\eA4A";
  }
  .i-display-photo-capture::before {
    content: "\eA47";
  }
  .i-display-photo-focus::before {
    content: "\eA48";
  }
  .i-display-photo-selfie::before {
    content: "\eA49";
  }
  .i-display-profile::before {
    content: "\eA2E";
  }
  .i-display-settings::before {
    content: "\eA2F";
  }
  .i-display-shield::before {
    content: "\eA30";
  }
  .i-display-success::before {
    content: "\eA31";
  }
  .i-display-time::before {
    content: "\eA32";
  }
  .i-display-upload-cloud::before {
    content: "\eA4B";
  }
  .i-display-upload-phone::before {
    content: "\eA4C";
  }
  .i-file-contact-card::before {
    content: "\eA4D";
  }
  .i-file-contract::before {
    content: "\eA33";
  }
  .i-file-credit-card::before {
    content: "\eA4E";
  }
  .i-file-document::before {
    content: "\eA4F";
  }
  .i-file-id-card::before {
    content: "\eA50";
  }
  .i-file-name-card::before {
    content: "\eA51";
  }
  .i-file-salary-slip::before {
    content: "\eA52";
  }
  .i-file-selfie::before {
    content: "\eA53";
  }
  .i-file-tax-id::before {
    content: "\eA54";
  }
  .i-gender-female::before {
    content: "\eA34";
  }
  .i-gender-male::before {
    content: "\eA35";
  }
  .i-list-tick::before {
    content: "\eA1F";
  }
  .i-navigation-down::before {
    content: "\eA05";
  }
  .i-navigation-left::before {
    content: "\eA06";
  }
  .i-navigation-right::before {
    content: "\eA07";
  }
  .i-navigation-up::before {
    content: "\eA08";
  }
  .i-pointer-down::before {
    content: "\eA09";
  }
  .i-pointer-left::before {
    content: "\eA0A";
  }
  .i-pointer-right::before {
    content: "\eA0B";
  }
  .i-pointer-up::before {
    content: "\eA0C";
  }
  .i-product-vehicle-insurance::before {
    content: "\eA5A";
  }
  .i-toggle-account::before {
    content: "\eA20";
  }
  .i-toggle-add::before {
    content: "\eA0D";
  }
  .i-toggle-clear::before {
    content: "\eA21";
  }
  .i-toggle-close::before {
    content: "\eA22";
  }
  .i-toggle-down::before {
    content: "\eA0E";
  }
  .i-toggle-drawer::before {
    content: "\eA23";
  }
  .i-toggle-edit::before {
    content: "\eA24";
  }
  .i-toggle-remove::before {
    content: "\eA0F";
  }
  .i-toggle-search::before {
    content: "\eA25";
  }
  .i-toggle-up::before {
    content: "\eA10";
  }
}
