// SCSS File
// wizard-agreement-signature.scss


// wizard-agreement-signature style
@if $enable-wizard {
	@if $enable-wizard-wrappers-agreement-signature {
		.wizard-agreement-signature {
			padding: $wizard-agreement-signature-pad;
			@include flex-display();

			.signature {
				@include flex-basis($wizard-agreement-signature-flex-basis);
				text-align: center;

				span {
					margin-top: $wizard-agreement-signature-mar;
					display: block;
				}
			}

			@include media-breakpoint-down(xs) {
				@include flex-direction(column);

				.signature {

					+ .signature {
						margin-top: $spacer-24;
					}
				}
			}
		}
	}
}
