// SCSS File
// layout-footer.scss

// layout-footer style
.layout-footer {
  background-color: #f6f6f6;
  padding: $spacer-20 0;
  text-align: center;

  .foot {
    font-size: $font-size-10;

    > a {
      font-family: $font-custom-font-bo;
    }

    a {
      color: #717171;
      margin: 0 $spacer-16;
    }
  }
}
