// SCSS File
// password-value.scss


// password-value variables

// password-value style
.password-value {
    padding: $placeholder-label-filled-focused-pad;
    line-height: $placeholder-label-filled-focused-line-height;
    height: $placeholder-label-filled-focused-height;
    font-size: $placeholder-label-filled-focused-font-size;
    bottom: $placeholder-label-filled-focused-pos-y;
    left: $placeholder-label-filled-focused-pos-x;
    position: absolute;

	@extend %extend-aria-hide;

	@extend %extend-aria-show;
}