// SCSS File
// separators.scss


// separators variables

// separators style
.separator {
    @at-root .heading#{&} {
        &::before {
            content: '';
            transform: none;
            left: 0;
            
        }
    }
}